.Home-container {
  min-width: 48rem;
  max-width: 48rem;
}

.Home-container h1 {
  padding: 0;
  margin: 0;
}

button.Home-logoutButton {
  margin: 0 1rem;
  padding: 0;
  text-transform: uppercase;
  font-size: 1rem;
  background: none;
  color: red;
  border: none;
  cursor: pointer;
}

button.Home-logoutButton:hover {
  color: rgba(255, 0, 0, 0.5);
}

.Task-list {
  margin: 1rem 0;
}
